# Cleaning methodology for pollutant data

This notebook contains the key steps taken to gather and clean air pollution data. As the data set is quite large and can only be downloaded in small chunks, we are currently investigation different ways of downloading the data in order to increase efficiency. As we continue to explore the data, more substantial filtering and cleaning will take place.

## Step 1: Identify boundary for monitoring. 

Having manually sifted through the data, we were able to split several monitoring sites into "inner" and "outer" ranges based on their geographic location. The data points closest to our area of focus (Heathrow Airport) have been categorised as "inner" locations and will be vital in our investigation into emissions. The "outer" locations will be used as a way of comparisson to gain a deeper understanding of the scale of the impact arising from air pollution.

|CCG | Borough| Inner location - monitoring station| Outer location - monitoring site|
|---:|:-----|:-----------|:------------|
|Hillingdon |Hillingdon| Hillingdon South Ruislip, Hillingdon 2 Hillingdon Hospital, Hillingdon Oxford Avenue, Hillingdon Harmondsworth, Hillingdon Harmondsworth Osiris, Hillingdon Hayes, Heathrow LHR2, Heathrow Bath Road, Hillingdon Sipson, Heathrow Green Gates| |
|East Berkshire | Slough |Slough Town Centre Wellington Street,Slough Brands Hill London Road,Slough Windmill Bath Road,Slough Colnbrook,Slough Town Centre A4,Slough Lakeside 1 Osiris,Slough Colnbrook Osiris,Slough Chalvey,Slough Lakeside 2,Slough Lakeside 2 Osiris,Slough - Dennis Way LP11,Slough - Monksfield Way LP20,Slough - The Hawthorns LP2,Slough - Erica Close LP3,Slough - Hatton Avenue LP13,Slough - St Andrews Way LP12,Slough - The Hawthorns LP10,Slough - Francis Way LP13,Slough - The Hawthorns LP1,Slough - Monksfield Way LP19,Slough - Brighton Spur LP3,Slough - Bower Way LP1,Slough - Hatton Avenue LP3,Slough - Cinder Track LP37|
|Hounslow| Hounslow | Hounslow Cranford, Hounslow Chiswick, Hounslow Brentford, Hounslow Heston, Hounslow Hatton Cross, Hounslow Feltham, Hounslow Gunnersbury |
|Ealing | Ealing | Ealing Horn Lane
|Buckinghamshire|South Bucks|Iver Thorney Lane North, Iver North Park Road, Iver Primary School|
|Surrey Heartlands|Richmond|- |Elmbridge|
| - | Spelthorne | Spelthorne Shepperton Squire's Bridge Road, Spelthorne knowle Green, Spelthorne Sunbury Cross, Heathrow Oaks Road|
| - |Waverly and Woking | - | H&F Shepherd’s Bush, Godalming Ockford Road 2|
|South West London| Richmond | London Teddington Bushy Park. |
|Hammersmith & Fulham|London Borough of Hammersmith and Fulham|-| H&F Hammersmith Town Centre, H&F Shepherd’s Bush|
|Watford|Hertfordshire and Bedfordshire|-|Watford Town Hall|
|Oxfordshire|Oxfordshire|-|Oxford High St, Oxford St Ebbes (Cal Club), Oxford Center Roadside, Oxford St Ebbes|
| Berkshire West| Readiing| - | Reading Caversham Road, Reading Oxford Road, Reading London Road, Reading New Town|

## Step 2: Format the Data

In [4]:
df_dict = pd.read_excel('./raw_data/waverly.xlsx', header=[0,1], sheet_name=None)

In [5]:
df_dict = pd.concat(df_dict.values(), axis=0)

In [6]:
df = pd.DataFrame(df_dict, columns=df_dict.keys())

In [7]:
df

      Unnamed: 0_level_0   Unnamed: 1_level_0 Farnham The Woolmead           \
                    Date                 Time     Nitrogen dioxide   Status
0             2018-01-01             01:00:00              3.79294  V ugm-3
1             2018-01-01             02:00:00               10.808  V ugm-3
2             2018-01-01             03:00:00              9.00229  V ugm-3
3             2018-01-01             04:00:00              6.37322  V ugm-3
4             2018-01-01             05:00:00              2.65853  V ugm-3
...                  ...                  ...                  ...      ...
25579         2020-12-01             20:00:00              35.3732  N ugm-3
25580         2020-12-01             21:00:00              32.6193  N ugm-3
25581         2020-12-01             22:00:00              30.7076  N ugm-3
25582         2020-12-01             23:00:00              31.9377  N ugm-3
25583         2020-12-01  1900-01-01 00:00:00               29.141  N ugm-3

                                                                   \
      PM10 particulate matter (Hourly measured)          Status.1
0                                       No data               NaN
1                                       No data               NaN
2                                       No data               NaN
3                                       No data               NaN
4                                       No data               NaN
...                                         ...               ...
25579                                      27.5  N ugm-3 (Ref.eq)
25580                                      19.2  N ugm-3 (Ref.eq)
25581                                      15.8  N ugm-3 (Ref.eq)
25582                                      13.3  N ugm-3 (Ref.eq)
25583                                      12.5  N ugm-3 (Ref.eq)

      Godalming Ockford Road 2
              Nitrogen dioxide   Status
0                      No data      NaN
1                      No data      NaN
2                      No data      NaN
3                      No data      NaN
4                      No data      NaN
...                        ...      ...
25579                  44.7591  N ugm-3
25580                  40.9585  N ugm-3
25581                  37.8524  N ugm-3
25582                   34.697  N ugm-3
25583                  30.9496  N ugm-3

[25584 rows x 8 columns]

In [8]:
# pd.set_option('display.max_columns', 100)

## Step 3: Unify missing data

In [9]:
df = df.replace('No data', np.nan)
df = df.replace('No Data', np.nan)
df

      Unnamed: 0_level_0   Unnamed: 1_level_0 Farnham The Woolmead           \
                    Date                 Time     Nitrogen dioxide   Status
0             2018-01-01             01:00:00              3.79294  V ugm-3
1             2018-01-01             02:00:00             10.80804  V ugm-3
2             2018-01-01             03:00:00              9.00229  V ugm-3
3             2018-01-01             04:00:00              6.37322  V ugm-3
4             2018-01-01             05:00:00              2.65853  V ugm-3
...                  ...                  ...                  ...      ...
25579         2020-12-01             20:00:00             35.37315  N ugm-3
25580         2020-12-01             21:00:00             32.61926  N ugm-3
25581         2020-12-01             22:00:00             30.70755  N ugm-3
25582         2020-12-01             23:00:00             31.93767  N ugm-3
25583         2020-12-01  1900-01-01 00:00:00             29.14097  N ugm-3

                                                                   \
      PM10 particulate matter (Hourly measured)          Status.1
0                                           NaN               NaN
1                                           NaN               NaN
2                                           NaN               NaN
3                                           NaN               NaN
4                                           NaN               NaN
...                                         ...               ...
25579                                      27.5  N ugm-3 (Ref.eq)
25580                                      19.2  N ugm-3 (Ref.eq)
25581                                      15.8  N ugm-3 (Ref.eq)
25582                                      13.3  N ugm-3 (Ref.eq)
25583                                      12.5  N ugm-3 (Ref.eq)

      Godalming Ockford Road 2
              Nitrogen dioxide   Status
0                          NaN      NaN
1                          NaN      NaN
2                          NaN      NaN
3                          NaN      NaN
4                          NaN      NaN
...                        ...      ...
25579                 44.75912  N ugm-3
25580                 40.95849  N ugm-3
25581                 37.85241  N ugm-3
25582                 34.69698  N ugm-3
25583                 30.94965  N ugm-3

[25584 rows x 8 columns]

## Step 4: Identify closed monitoring stations

In [10]:
non_null_columns = [col for col in df.columns if df.loc[:, col].notna().any()]
open_monitoring_sites = df[non_null_columns]
open_monitoring_sites

      Unnamed: 0_level_0   Unnamed: 1_level_0 Farnham The Woolmead           \
                    Date                 Time     Nitrogen dioxide   Status
0             2018-01-01             01:00:00              3.79294  V ugm-3
1             2018-01-01             02:00:00             10.80804  V ugm-3
2             2018-01-01             03:00:00              9.00229  V ugm-3
3             2018-01-01             04:00:00              6.37322  V ugm-3
4             2018-01-01             05:00:00              2.65853  V ugm-3
...                  ...                  ...                  ...      ...
25579         2020-12-01             20:00:00             35.37315  N ugm-3
25580         2020-12-01             21:00:00             32.61926  N ugm-3
25581         2020-12-01             22:00:00             30.70755  N ugm-3
25582         2020-12-01             23:00:00             31.93767  N ugm-3
25583         2020-12-01  1900-01-01 00:00:00             29.14097  N ugm-3

                                                                   \
      PM10 particulate matter (Hourly measured)          Status.1
0                                           NaN               NaN
1                                           NaN               NaN
2                                           NaN               NaN
3                                           NaN               NaN
4                                           NaN               NaN
...                                         ...               ...
25579                                      27.5  N ugm-3 (Ref.eq)
25580                                      19.2  N ugm-3 (Ref.eq)
25581                                      15.8  N ugm-3 (Ref.eq)
25582                                      13.3  N ugm-3 (Ref.eq)
25583                                      12.5  N ugm-3 (Ref.eq)

      Godalming Ockford Road 2
              Nitrogen dioxide   Status
0                          NaN      NaN
1                          NaN      NaN
2                          NaN      NaN
3                          NaN      NaN
4                          NaN      NaN
...                        ...      ...
25579                 44.75912  N ugm-3
25580                 40.95849  N ugm-3
25581                 37.85241  N ugm-3
25582                 34.69698  N ugm-3
25583                 30.94965  N ugm-3

[25584 rows x 8 columns]

## Step 5: Setting Date and Time columns to Datetime

In [11]:
open_monitoring_sites[('Unnamed: 1_level_0','Time')] = [str(x)[-8:] for x in open_monitoring_sites[('Unnamed: 1_level_0','Time')]]

In [12]:
open_monitoring_sites

      Unnamed: 0_level_0 Unnamed: 1_level_0 Farnham The Woolmead           \
                    Date               Time     Nitrogen dioxide   Status
0             2018-01-01           01:00:00              3.79294  V ugm-3
1             2018-01-01           02:00:00             10.80804  V ugm-3
2             2018-01-01           03:00:00              9.00229  V ugm-3
3             2018-01-01           04:00:00              6.37322  V ugm-3
4             2018-01-01           05:00:00              2.65853  V ugm-3
...                  ...                ...                  ...      ...
25579         2020-12-01           20:00:00             35.37315  N ugm-3
25580         2020-12-01           21:00:00             32.61926  N ugm-3
25581         2020-12-01           22:00:00             30.70755  N ugm-3
25582         2020-12-01           23:00:00             31.93767  N ugm-3
25583         2020-12-01           00:00:00             29.14097  N ugm-3

                                                                   \
      PM10 particulate matter (Hourly measured)          Status.1
0                                           NaN               NaN
1                                           NaN               NaN
2                                           NaN               NaN
3                                           NaN               NaN
4                                           NaN               NaN
...                                         ...               ...
25579                                      27.5  N ugm-3 (Ref.eq)
25580                                      19.2  N ugm-3 (Ref.eq)
25581                                      15.8  N ugm-3 (Ref.eq)
25582                                      13.3  N ugm-3 (Ref.eq)
25583                                      12.5  N ugm-3 (Ref.eq)

      Godalming Ockford Road 2
              Nitrogen dioxide   Status
0                          NaN      NaN
1                          NaN      NaN
2                          NaN      NaN
3                          NaN      NaN
4                          NaN      NaN
...                        ...      ...
25579                 44.75912  N ugm-3
25580                 40.95849  N ugm-3
25581                 37.85241  N ugm-3
25582                 34.69698  N ugm-3
25583                 30.94965  N ugm-3

[25584 rows x 8 columns]

In [13]:
open_monitoring_sites[('Unnamed: 1_level_0','Time')] = pd.to_datetime(open_monitoring_sites[('Unnamed: 1_level_0','Time')], format='%H:%M:%S').dt.strftime("%H:%M:%S")

In [14]:
open_monitoring_sites.columns

MultiIndex([(      'Unnamed: 0_level_0', ...),
            (      'Unnamed: 1_level_0', ...),
            (    'Farnham The Woolmead', ...),
            (    'Farnham The Woolmead', ...),
            (    'Farnham The Woolmead', ...),
            (    'Farnham The Woolmead', ...),
            ('Godalming Ockford Road 2', ...),
            ('Godalming Ockford Road 2', ...)],
           )

In [15]:
open_monitoring_sites.set_index([('Unnamed: 0_level_0','Date'), ('Unnamed: 1_level_0','Time')], inplace=True)
open_monitoring_sites

                                                      Farnham The Woolmead  \
                                                          Nitrogen dioxide
(Unnamed: 0_level_0, Date) (Unnamed: 1_level_0, Time)
2018-01-01                 01:00:00                                3.79294
                           02:00:00                               10.80804
                           03:00:00                                9.00229
                           04:00:00                                6.37322
                           05:00:00                                2.65853
...                                                                    ...
2020-12-01                 20:00:00                               35.37315
                           21:00:00                               32.61926
                           22:00:00                               30.70755
                           23:00:00                               31.93767
                           00:00:00                               29.14097

                                                                \
                                                        Status
(Unnamed: 0_level_0, Date) (Unnamed: 1_level_0, Time)
2018-01-01                 01:00:00                    V ugm-3
                           02:00:00                    V ugm-3
                           03:00:00                    V ugm-3
                           04:00:00                    V ugm-3
                           05:00:00                    V ugm-3
...                                                        ...
2020-12-01                 20:00:00                    N ugm-3
                           21:00:00                    N ugm-3
                           22:00:00                    N ugm-3
                           23:00:00                    N ugm-3
                           00:00:00                    N ugm-3

                                                                                                 \
                                                      PM10 particulate matter (Hourly measured)
(Unnamed: 0_level_0, Date) (Unnamed: 1_level_0, Time)
2018-01-01                 01:00:00                                                         NaN
                           02:00:00                                                         NaN
                           03:00:00                                                         NaN
                           04:00:00                                                         NaN
                           05:00:00                                                         NaN
...                                                                                         ...
2020-12-01                 20:00:00                                                        27.5
                           21:00:00                                                        19.2
                           22:00:00                                                        15.8
                           23:00:00                                                        13.3
                           00:00:00                                                        12.5

                                                                         \
                                                               Status.1
(Unnamed: 0_level_0, Date) (Unnamed: 1_level_0, Time)
2018-01-01                 01:00:00                                 NaN
                           02:00:00                                 NaN
                           03:00:00                                 NaN
                           04:00:00                                 NaN
                           05:00:00                                 NaN
...                                                                 ...
2020-12-01                 20:00:00                    N ugm-3 (Ref.eq)
                           21:00:00                    N ugm-3 (Ref.eq)
                           22:00:00                    N ugm-3 (Ref.eq)
                           23:00:00                    N ugm-3 (Ref.eq)
                           00:00:00                    N ugm-3 (Ref.eq)

                                                      Godalming Ockford Road 2  \
                                                              Nitrogen dioxide
(Unnamed: 0_level_0, Date) (Unnamed: 1_level_0, Time)
2018-01-01                 01:00:00                                        NaN
                           02:00:00                                        NaN
                           03:00:00                                        NaN
                           04:00:00                                        NaN
                           05:00:00                                        NaN
...                                                                        ...
2020-12-01                 20:00:00                                   44.75912
                           21:00:00                                   40.95849
                           22:00:00                                   37.85241
                           23:00:00                                   34.69698
                           00:00:00                                   30.94965


                                                        Status
(Unnamed: 0_level_0, Date) (Unnamed: 1_level_0, Time)
2018-01-01                 01:00:00                        NaN
                           02:00:00                        NaN
                           03:00:00                        NaN
                           04:00:00                        NaN
                           05:00:00                        NaN
...                                                        ...
2020-12-01                 20:00:00                    N ugm-3
                           21:00:00                    N ugm-3
                           22:00:00                    N ugm-3
                           23:00:00                    N ugm-3
                           00:00:00                    N ugm-3

[25584 rows x 6 columns]

In [16]:
open_monitoring_sites = open_monitoring_sites.rename_axis(['Date','Time'])
open_monitoring_sites

                    Farnham The Woolmead           \
                        Nitrogen dioxide   Status
Date       Time
2018-01-01 01:00:00              3.79294  V ugm-3
           02:00:00             10.80804  V ugm-3
           03:00:00              9.00229  V ugm-3
           04:00:00              6.37322  V ugm-3
           05:00:00              2.65853  V ugm-3
...                                  ...      ...
2020-12-01 20:00:00             35.37315  N ugm-3
           21:00:00             32.61926  N ugm-3
           22:00:00             30.70755  N ugm-3
           23:00:00             31.93767  N ugm-3
           00:00:00             29.14097  N ugm-3

                                                               \
                    PM10 particulate matter (Hourly measured)
Date       Time
2018-01-01 01:00:00                                       NaN
           02:00:00                                       NaN
           03:00:00                                       NaN
           04:00:00                                       NaN
           05:00:00                                       NaN
...                                                       ...
2020-12-01 20:00:00                                      27.5
           21:00:00                                      19.2
           22:00:00                                      15.8
           23:00:00                                      13.3
           00:00:00                                      12.5

                                      Godalming Ockford Road 2
                             Status.1         Nitrogen dioxide   Status
Date       Time
2018-01-01 01:00:00               NaN                      NaN      NaN
           02:00:00               NaN                      NaN      NaN
           03:00:00               NaN                      NaN      NaN
           04:00:00               NaN                      NaN      NaN
           05:00:00               NaN                      NaN      NaN
...                               ...                      ...      ...
2020-12-01 20:00:00  N ugm-3 (Ref.eq)                 44.75912  N ugm-3
           21:00:00  N ugm-3 (Ref.eq)                 40.95849  N ugm-3
           22:00:00  N ugm-3 (Ref.eq)                 37.85241  N ugm-3
           23:00:00  N ugm-3 (Ref.eq)                 34.69698  N ugm-3
           00:00:00  N ugm-3 (Ref.eq)                 30.94965  N ugm-3

[25584 rows x 6 columns]

## Step 6: Removing Multi-tier Columns

In [17]:
open_monitoring_sites_stack = open_monitoring_sites.stack(0, dropna=True).rename_axis(('Date', 'Time','Location'))
open_monitoring_sites_stack

                                              Nitrogen dioxide  \
Date       Time     Location
2018-01-01 01:00:00 Farnham The Woolmead               3.79294
           02:00:00 Farnham The Woolmead              10.80804
           03:00:00 Farnham The Woolmead               9.00229
           04:00:00 Farnham The Woolmead               6.37322
           05:00:00 Farnham The Woolmead               2.65853
...                                                        ...
2020-12-01 22:00:00 Godalming Ockford Road 2          37.85241
           23:00:00 Farnham The Woolmead              31.93767
                    Godalming Ockford Road 2          34.69698
           00:00:00 Farnham The Woolmead              29.14097
                    Godalming Ockford Road 2          30.94965

                                              PM10 particulate matter (Hourly measured)  \
Date       Time     Location
2018-01-01 01:00:00 Farnham The Woolmead                                            NaN
           02:00:00 Farnham The Woolmead                                            NaN
           03:00:00 Farnham The Woolmead                                            NaN
           04:00:00 Farnham The Woolmead                                            NaN
           05:00:00 Farnham The Woolmead                                            NaN
...                                                                                 ...
2020-12-01 22:00:00 Godalming Ockford Road 2                                        NaN
           23:00:00 Farnham The Woolmead                                           13.3
                    Godalming Ockford Road 2                                        NaN
           00:00:00 Farnham The Woolmead                                           12.5
                    Godalming Ockford Road 2                                        NaN

                                               Status          Status.1
Date       Time     Location
2018-01-01 01:00:00 Farnham The Woolmead      V ugm-3               NaN
           02:00:00 Farnham The Woolmead      V ugm-3               NaN
           03:00:00 Farnham The Woolmead      V ugm-3               NaN
           04:00:00 Farnham The Woolmead      V ugm-3               NaN
           05:00:00 Farnham The Woolmead      V ugm-3               NaN
...                                               ...               ...
2020-12-01 22:00:00 Godalming Ockford Road 2  N ugm-3               NaN
           23:00:00 Farnham The Woolmead      N ugm-3  N ugm-3 (Ref.eq)
                    Godalming Ockford Road 2  N ugm-3               NaN
           00:00:00 Farnham The Woolmead      N ugm-3  N ugm-3 (Ref.eq)
                    Godalming Ockford Road 2  N ugm-3               NaN

[44453 rows x 4 columns]

In [18]:
open_monitoring_sites_stack.reset_index(level=['Location'])

                                     Location  Nitrogen dioxide  \
Date       Time
2018-01-01 01:00:00      Farnham The Woolmead           3.79294
           02:00:00      Farnham The Woolmead          10.80804
           03:00:00      Farnham The Woolmead           9.00229
           04:00:00      Farnham The Woolmead           6.37322
           05:00:00      Farnham The Woolmead           2.65853
...                                       ...               ...
2020-12-01 22:00:00  Godalming Ockford Road 2          37.85241
           23:00:00      Farnham The Woolmead          31.93767
           23:00:00  Godalming Ockford Road 2          34.69698
           00:00:00      Farnham The Woolmead          29.14097
           00:00:00  Godalming Ockford Road 2          30.94965

                     PM10 particulate matter (Hourly measured)   Status  \
Date       Time
2018-01-01 01:00:00                                        NaN  V ugm-3
           02:00:00                                        NaN  V ugm-3
           03:00:00                                        NaN  V ugm-3
           04:00:00                                        NaN  V ugm-3
           05:00:00                                        NaN  V ugm-3
...                                                        ...      ...
2020-12-01 22:00:00                                        NaN  N ugm-3
           23:00:00                                       13.3  N ugm-3
           23:00:00                                        NaN  N ugm-3
           00:00:00                                       12.5  N ugm-3
           00:00:00                                        NaN  N ugm-3

                             Status.1
Date       Time
2018-01-01 01:00:00               NaN
           02:00:00               NaN
           03:00:00               NaN
           04:00:00               NaN
           05:00:00               NaN
...                               ...
2020-12-01 22:00:00               NaN
           23:00:00  N ugm-3 (Ref.eq)
           23:00:00               NaN
           00:00:00  N ugm-3 (Ref.eq)
           00:00:00               NaN

[44453 rows x 5 columns]

## Next Steps

- Use API call to gather data from monitoring stations
- Investigate other data sources for mass downloads and ease
- Aggregate data on a daily basis
- Investigate similarities/differences between outer and inner locations, perform EDA on each
- Aggregate data annually and merge with Health and Flight data